* {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: sans-serif;
    color: #333;
    background-color: #eee;
    text-align: center;
}


#wrapper {
    margin: 0.5em auto;
    display: flex;
    width: 1284px;
    gap: 10px;
}

#canvases {
    flex-grow: 1;
    position: relative;
    width: 1024px;
    height: 600px;
    margin-right: 132px;
}

#drawing-canvas, #preview-canvas {
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    left: 0;
    top: 0;
}

#drawing-canvas {
    background-color: #fff;
    z-index: 0;
}

#selected-colour {
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
}

.colour {
    height: 10%;
    cursor: pointer;
}

.tool {
    border: 1px solid #ccc;
    padding: 0.25em 1em;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

.tool.selected {
    background-color: #9cf;
    border-color: #72a9ff;
}

.setting {
    flex: 1;
}

#sidebar {
    width: 122px;
    flex-shrink: 0;
}

#sidebar > div {
    margin-bottom: 10px;
}

#palette {
    display: flex;
    flex-flow: column wrap;
    height: 250px;
    border: 1px solid #ccc;
}
